.App {
  text-align: center;
}

h1{
  font-family: 'Bigelow rules';
  font-size: 108px;
  margin-bottom: 50px;
  color:#0ccac4;
}

input[type=search]{
  width:30%;
  border-radius: 10px;
  display: inline-block;
  margin:50px auto;
  padding: 10px;
  outline: none;
  font-size: 20px;
}

.align{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.grid > div {
  margin-bottom: 40px;
}

.grid{
  margin: 0 100px 0 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
